@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('truetype'); 
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype'); 
  font-display: swap;
}


*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Satoshi', sans-serif; /* Set Satoshi as the default font */
}

$breakpoint-tablet: 768px;
$breakpoint-huge: 1536px;

