.carouselContainer {
  width: 80vw;
  max-width: 1110px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  .cardContainerDesktop {
    display: none;
    @media (width>$breakpoint-tablet) {
      display: block;
    }

    .sliderContainer {
      display: flex;
      gap: 20px;
    }

    :global {
      .glider-dots {
        margin-top: 20px;
        gap: 9.2px;
      }

      .glider-dot {
        margin: 0;
        height: 16.64px;
        width: 16.64px;
        background: transparent;
        border: 4px solid white;
      }

      .glider-dot.active {
        background: white;
      }
    }
  }

  .mobileCardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media (width>$breakpoint-tablet) {
      display: none;
    }
  }
}