$breakpoint-tablet: 460px;

.carouselContainer {
  width: 80vw;
  max-width: 1110px;
  height: max-content;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  .cardContainerResearch {
    display: none;
    @media (width>$breakpoint-tablet) {
      display: block;
    }

    .sliderContainer {
      display: flex;
      gap: 20px;
    }
  }

  .mobileCardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media (width>$breakpoint-tablet) {
      display: none;
    }
  }
}

//Here
